#social-media-section{
  background: #757474;
}
#mainTitle{
  color : black;
}
#personalize-your-theme{
  color : black;
}


#aryamann-description{
  background-color: #706b6b;
  border-top:4px solid black;
}
.box-styling{
  box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -webkit-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -moz-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  background-color: #888787;
  color:white;
  border:3px solid black;

}


#main-navbar{
  background-color:#D5D5D5;

}
#navbar-list a{
  color:black;
  text-decoration: none;
}
.navbar-styling:hover{
  color:#FF676C;
}
.s-handle:hover{
  color:black!important;

}
