#social-media-section{
  background: #131212;
}

#aryamann-description{
  background-color: #1f1c1c;
  border-top:4px solid white;
  border-top:4px solid white;
}
#mainTitle{
  color : white;
}
#main-navbar{
  background-color: #333333;

}
#navbar-list a{
  color:white;
  text-decoration: none;
}
#personalize-your-theme{
  color : white;
}

.box-styling{
  box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -webkit-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -moz-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  background-color: #302c2d;
  color:white;
  border:3px solid white;

}

