body,html{
  margin:0;
}
html{
  scroll-behavior: smooth;
}
#main-navbar{

  position:fixed;
  z-index:1;
  margin:0;
  top:0;
  height : 70px;
  width:100%;
  display : flex;

  justify-content : left;
}
.navbar-icon{
  margin:0 1rem;
}
#navbar-list{
  list-style: none;
  display:flex;
  justify-content : center;
}
#navbar-list a{
  margin:0 1rem;
  font-size:24px;
}
@keyframes give-padding-navbar {
  0% {}
  100% {
    padding:5px;
  }
}
@keyframes remove-padding-navbar {
  0% {
  }
  100% {
    padding: 0px;
  }
}
.navbar-styling{
  animation : remove-padding-navbar;
  animation-iteration-count:1;
  animation-duration: 200ms;
  animation-fill-mode:forwards;

}


.navbar-styling:hover{
  animation:give-padding-navbar;
  animation-iteration-count: 1;
  animation-duration: 200ms;
  animation-fill-mode: forwards;


}

#technical-section,#non-technical-section{
  margin:20px 0;
  height:500px;
}

#particles-js {

position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
}

@keyframes shrink-down-dot {
  0% {
    height:40px;
    width:40px;
  }

  100% {
    height:35px;
    width:35px;
  }
}
.dot.shrunk{
  animation-name : shrink-down-dot;
  animation-iteration-count: 1;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}


.dot{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
}


@keyframes makeDotBigger {
  0% {
    height:35px;
  }
  100% {
    height: 40px;
    width: 40px;
  }
}



.dot.selected{

  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
  animation:makeDotBigger;
  animation-iteration-count: 1;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

#black-dot{
 background-color:black;

}

#red-dot{
  background-color:#441921;

}
#light-dot{
 background-color:#c6ecd4;

}
#green-dot{
  background-color:darkgreen;

}
#white-dot{

  background-color:white;
}

#personalize-heading{
  color : white;
}

#mainTitleArea{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: text;


}

#main-image-area{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  grid-area:image;

}

#mainTitle{
  font-size : 16vh;

}

#particle-js-area{
  display: grid;
  grid-template-areas:'text image' 'text image''text image''text image''text image''text image''text image' 'text image' 'text image' 'text image';
  grid-gap:5px;


}



#aryamann-image{
  margin:20px;
  border-radius: 100%;
  height:400px;
  width:400px;
}

#social-media-section{
  text-align:center;
  border-radius: 40px;
}

.s-handle{
  font-size:50px;
  margin:20px;

}
#facebook-icon{

  color : #195dee;
}
#facebook-icon:hover{
  color: #0a348c;
}
#linkedin-icon{
  color:white;
}
#linkedin-icon:hover{
  color: #777777;
}
#instagram-icon{
  color:deeppink;
}
#instagram-icon:hover{
  color: #9f0054;
}
#github-icon{
  color:white;
}
#github-icon:hover{
  color: #777777;
}
#aryamann-description{

padding:20px;



}
#technical-section{
  grid-area:technical;

}

#non-technical-section{
  grid-area:non-technical;



}



#about-section{
  grid-area: about;

}
.description-box{
  padding:10px;

}
.description-box>h1{
  font-size:8vh;
}


#section-separator{

  margin:0;
  padding:0;
}
.box-styling{
  text-align: center;
  }

#about-para{
  padding:30px;
  font-size:30px;
}

#skillset-section{
  display:grid;
  grid-template-areas:'technical non-technical' ;
  grid-gap:10px;

}



.work-subheadings{
  margin: 0 3rem;

  display:flex;
  flex-direction:column;
  float:left;
}
