#social-media-section{
  background: #54202e;
}
#mainTitle{
  color :white;
}
#personalize-your-theme{
  color : white;
}


#main-navbar{
  background-color: #942d44;

}
#navbar-list a{
  color:white;
  text-decoration: none;
}
#aryamann-description{
  background-color: #3b0f16;
  border-top:4px solid white;
}
.box-styling{
  box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -webkit-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  -moz-box-shadow: -32px -23px 30px -16px rgba(0,0,0,0.43);
  background-color: #722230;
  color:white;
  border:3px solid white;

}
